* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 1rem;
}
.box {
  border: 2px solid #d6bcfa;
  height: 500px;
  border-radius: 10px;
}
h1,
h2 {
  text-align: center;
}

  
html {
 background: white url(http://unsplash.it/1500/1000?image=881);
 background-size: cover;
 font-family: 'helvetica neve';
 text-align: center;
 font-size: 10px;
}

body{
  font-size: 2rem;
  align-items: center;
  min-height: 100vh;
}
.clock {
  background-color: rgb(182, 18, 18);
  border-radius: 50%;
  height: 30rem;
  width: 30rem;
  border: 1rem solid white;
  margin: 10px auto; 
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0,0,0,0.1),
               inset 0 0 0 10px black;               
}
.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  /* transform: translateY(-3px); */
}
.hand {
  width: 50%;
  height: 8px;
  background-color: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  /* transition: all 0.05s; */
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour-hand {
  width: 35%;
  left: 15%;
}
.minute-hand {
  height: 5px;
}
.second-hand {
  height: 2px;
  background-color: red;
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(13, 19, 71);
  border: 5px solid gray;
  position: absolute;
  top: 45%;
  left: 45%;
}

.number {
  font-weight: 600;
  letter-spacing: -2px;
}
.twelve{
  position: absolute;
  bottom: 93%;
  left: 46% ;

}

.three {
position: absolute;
left: 93%;
top: 47%;
}
.six {
  position: absolute;
  top: 93%;
  left: 46%;
}
.nine {
  position: absolute;
  top: 47%;
}

h1 {
  margin-top: 20rem;
  margin-bottom: 10rem;
}
